body{
    background-image: url("../images/back.jpg");
    border-radius: 1000px;
    margin :0;
}
#container{
    width:700px;
    margin:0 auto;
    margin-top:5%;
    
}

/* Bordered form */
form {
    height: 65%;
    width:95%;
    padding: 30px;
    border-radius: 10px;
    border: 10px solid #f1f1f1;
    background: #f2f2f2;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #00BFFF ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}
input[type=submit]:hover {
    background-color: white;
    color: #00BFFF  ;
    border: 1px solid #00BFFF ;
}


#content{
    background-color: #f2f2f2;
    width: 100%;
    height: 170%;


}

#content h1{
    text-align: center;
    
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A9A9A9 ;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #00BFFF;
}

.active {
  background-color: #00BFFF;
}




input[type=button] {
    background-color: #00BFFF ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}
input[type=button]:hover {
    background-color: white;
    color: #00BFFF  ;
    border: 1px solid #00BFFF ;
}
table, td, th {
  border: 1px solid black;
}
footer {
  background-color: #53af57;
  padding: 10px;
  text-align: center;
}
#first{
  margin-top: 2px;
  background-image:url("box1.jpg");
  background-repeat: no-repeat;
  height: 50%;
  width: 100%;
}

.footer {
   position: ;
   left: ;
   bottom: ;
   width: 100%;
   background-color: #E6E6FA  ;
   color: white;
   text-align: center;
   margin-top: ;   
 }