body{
    background:;
    background-image: url("background.jpg");
    
    margin :0;
}
#container{
    width:700px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {
    width:95%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #00BFFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #00BFFF;
    border: 1px solid #00BFFF;
}


#content{
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;

}

#content h1{
    text-align: center;
    
}




ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A9A9A9 ;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #00BFFF;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}




input[type=button] {
    background-color: #00BFFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=button]:hover {
    background-color: white;
    color: #00BFFF;
    border: 1px solid #00BFFF;
}
table, td, th {
  border: 1px solid black;
}
.footer {
   position: ;
   left: ;
   bottom: ;
   width: 100%;
   background-color: #E6E6FA  ;
   color: white;
   text-align: center;
   margin-top: -23px;   
 }